<a href="https://colab.research.google.com/github/maitri-7/DaLab/blob/main/EXP4_LRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,f1_score
from scipy.stats import chi2_contingency

In [95]:
df = pd.read_csv("https://raw.githubusercontent.com/TarekDib03/Analytics/master/Week2%20-%20Linear%20Regression/Data/climate_change.csv")

In [96]:
df.head()

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      308 non-null    int64
 1   Month     308 non-null    int64
 2   MEI       308 non-null    float64
 3   CO2       308 non-null    float64
 4   CH4       308 non-null    float64
 5   N2O       308 non-null    float64
 6   CFC-11    308 non-null    float64
 7   CFC-12    308 non-null    float64
 8   TSI       308 non-null    float64
 9   Aerosols  308 non-null    float64
 10  Temp      308 non-null    float64
dtypes: float64(9), int64(2)
memory usage: 26.6 KB

In [98]:
df = df.drop(['Month',],axis=1)

In [99]:
df.corr()

,Year,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
Year,1.000000,-0.145345,0.985379,0.910563,0.994850,0.460965,0.870067,0.022353,-0.361884,0.755731
MEI,-0.145345,1.000000,-0.152911,-0.105555,-0.162375,0.088171,-0.039836,-0.076826,0.352351,0.135292
CO2,0.985379,-0.152911,1.000000,0.872253,0.981135,0.401284,0.823210,0.017867,-0.369265,0.748505
CH4,0.910563,-0.105555,0.872253,1.000000,0.894409,0.713504,0.958237,0.146335,-0.290381,0.699697
N2O,0.994850,-0.162375,0.981135,0.894409,1.000000,0.412155,0.839295,0.039892,-0.353499,0.743242
CFC-11,0.460965,0.088171,0.401284,0.713504,0.412155,1.000000,0.831381,0.284629,-0.032302,0.380111
CFC-12,0.870067,-0.039836,0.823210,0.958237,0.839295,0.831381,1.000000,0.189270,-0.243785,0.688944
TSI,0.022353,-0.076826,0.017867,0.146335,0.039892,0.284629,0.189270,1.000000,0.083238,0.182186
Aerosols,-0.361884,0.352351,-0.369265,-0.290381,-0.353499,-0.032302,-0.243785,0.083238,1.000000,-0.392069
Temp,0.755731,0.135292,0.748505,0.699697,0.743242,0.380111,0.688944,0.182186,-0.392069,1.000000

In [100]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
# split the dataset
X_train = X[X['Year']<=2006]
X_test = X[X['Year']>2006]
y_train = y[:len(X_train)]
y_test = y[len(X_train):]
X_train = X_train = X_train.drop(["Year"],axis=1)
X_test = X_test.drop(["Year"],axis=1)

In [101]:
print(df.isnull().sum())

Year        0
MEI         0
CO2         0
CH4         0
N2O         0
CFC-11      0
CFC-12      0
TSI         0
Aerosols    0
Temp        0
dtype: int64

**Linear Regression**

In [102]:
from statsmodels.api import OLS
model = OLS(y_train,X_train).fit()
model.rsquared
#R2 score of training data is 90% using the OLS library

0.9010942288014989

In [103]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   Temp   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.898
Method:                 Least Squares   F-statistic:                              314.3
Date:                Thu, 10 Nov 2022   Prob (F-statistic):                   7.35e-134
Time:                        06:25:51   Log-Likelihood:                          261.15
No. Observations:                 284   AIC:                                     -506.3
Df Residuals:                     276   BIC:                                     -477.1
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
MEI            0.0553      0.007      8.209      0.000       0.042       0.069
CO2            0.0062      0.002      2.560      0.011       0.001       0.011
CH4          7.06e-05      0.001      0.128      0.898      -0.001       0.001
N2O           -0.0132      0.009     -1.452      0.148      -0.031       0.005
CFC-11        -0.0058      0.002     -3.351      0.001      -0.009      -0.002
CFC-12         0.0036      0.001      3.311      0.001       0.001       0.006
TSI            0.0012      0.002      0.729      0.467      -0.002       0.005
Aerosols      -1.3314      0.225     -5.922      0.000      -1.774      -0.889
==============================================================================
Omnibus:                        5.432   Durbin-Watson:                   0.775
Prob(Omnibus):                  0.066   Jarque-Bera (JB):                5.298
Skew:                           0.265   Prob(JB):                       0.0707
Kurtosis:                       3.409   Cond. No.                     9.04e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 9.04e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [104]:
linreg=LinearRegression()
linreg.fit(X_train,y_train)
y_pred=linreg.predict(X_test)

In [105]:
Accuracy=r2_score(y_test,y_pred)
print("R2 score of the testing data is %.2f" %Accuracy)
linreg.score(X_test, y_test)

R2 score of the testing data is 0.18

0.18377835333134962

**Exercise 2 and 3**

---

In [106]:
df.corr()

,Year,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
Year,1.000000,-0.145345,0.985379,0.910563,0.994850,0.460965,0.870067,0.022353,-0.361884,0.755731
MEI,-0.145345,1.000000,-0.152911,-0.105555,-0.162375,0.088171,-0.039836,-0.076826,0.352351,0.135292
CO2,0.985379,-0.152911,1.000000,0.872253,0.981135,0.401284,0.823210,0.017867,-0.369265,0.748505
CH4,0.910563,-0.105555,0.872253,1.000000,0.894409,0.713504,0.958237,0.146335,-0.290381,0.699697
N2O,0.994850,-0.162375,0.981135,0.894409,1.000000,0.412155,0.839295,0.039892,-0.353499,0.743242
CFC-11,0.460965,0.088171,0.401284,0.713504,0.412155,1.000000,0.831381,0.284629,-0.032302,0.380111
CFC-12,0.870067,-0.039836,0.823210,0.958237,0.839295,0.831381,1.000000,0.189270,-0.243785,0.688944
TSI,0.022353,-0.076826,0.017867,0.146335,0.039892,0.284629,0.189270,1.000000,0.083238,0.182186
Aerosols,-0.361884,0.352351,-0.369265,-0.290381,-0.353499,-0.032302,-0.243785,0.083238,1.000000,-0.392069
Temp,0.755731,0.135292,0.748505,0.699697,0.743242,0.380111,0.688944,0.182186,-0.392069,1.000000

In [107]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   Temp   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.898
Method:                 Least Squares   F-statistic:                              314.3
Date:                Thu, 10 Nov 2022   Prob (F-statistic):                   7.35e-134
Time:                        06:26:14   Log-Likelihood:                          261.15
No. Observations:                 284   AIC:                                     -506.3
Df Residuals:                     276   BIC:                                     -477.1
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
MEI            0.0553      0.007      8.209      0.000       0.042       0.069
CO2            0.0062      0.002      2.560      0.011       0.001       0.011
CH4          7.06e-05      0.001      0.128      0.898      -0.001       0.001
N2O           -0.0132      0.009     -1.452      0.148      -0.031       0.005
CFC-11        -0.0058      0.002     -3.351      0.001      -0.009      -0.002
CFC-12         0.0036      0.001      3.311      0.001       0.001       0.006
TSI            0.0012      0.002      0.729      0.467      -0.002       0.005
Aerosols      -1.3314      0.225     -5.922      0.000      -1.774      -0.889
==============================================================================
Omnibus:                        5.432   Durbin-Watson:                   0.775
Prob(Omnibus):                  0.066   Jarque-Bera (JB):                5.298
Skew:                           0.265   Prob(JB):                       0.0707
Kurtosis:                       3.409   Cond. No.                     9.04e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 9.04e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

From the summary we can say that MEI, CO2, CFC.11, CFC.12, TSI, and Aerosols are all significant(Since their p value is less than 0.05).

In [92]:
df_train = df[df['Year'] <= 2006]
df_test  = df[df['Year'] > 2006]
X_train = df_train[["MEI","CO2","CFC-11","CFC-12","TSI","Aerosols"]]
X_test = df_test[["MEI","CO2","CFC-11","CFC-12","TSI","Aerosols"]]
Y_train  = df_train[["Temp"]]
Y_test  = df_test[["Temp"]]

In [93]:
linreg=LinearRegression()
linreg.fit(X_train,Y_train)

from statsmodels.api import OLS
model = OLS(Y_train,X_train).fit()
model.rsquared

0.9003190370297778

Our model isn't affected much when we use these attributes MEI, CO2, CFC.11, CFC.12, TSI, and Aerosols